* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.dart text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.gradle text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.gitignore text eol=lf
.gitattributes text eol=lf
*.cmake text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.swift text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.frag text eol=lf
